* {
    margin: 0;
}

body {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    margin-top: 5%;
}

.visibilidade_incremento {
    display: none;
}

#incremento {
    width: 2rem;
}

#mensagem {
    width: 11.5rem;
}

#informacao {
    background-color: gray;
    padding: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#enigma {
    display: flex;
    justify-content: center;
}

#foto {
    width: 5rem;
    height: 5rem;
}
